@import "./partials/functions", "./partials/mixins", "./partials/variables";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: $color-neutral-very-dark-blue;
}

body {
  background-color: $color-neutral-very-light-grey;
  display: grid;
  place-content: center;
  justify-items: center;
}

.extra-light {
  font-weight: 200;
}
