@import "./partials/functions", "./partials/mixins", "./partials/variables";

.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px 33px;
  position: relative;
  width: rem(311, 16);
}

.box_heading {
  @include font-box-heading;
}

.box_text {
  @include font-box-text;
  padding-top: 0.06rem;
}

.box_img {
  display: block;
  margin-left: auto;
  margin-top: rem(30, 16);
}

.cyan {
  border-top: 4px solid $color-primary-cyan;
}

.red {
  border-top: 4px solid $color-primary-red;
  margin-top: rem(25, 16);
}

.orange {
  border-top: 4px solid $color-primary-orange;
  margin-top: rem(25, 16);
}

.blue {
  border-top: 4px solid $color-primary-blue;
  margin-bottom: rem(78, 16);
  margin-top: rem(25, 16);
}

@media (min-width: 1010px) {
  .main {
    display: flex;
  }

  .main_first-column {
    align-items: center;
    display: flex;
  }

  .main_third-column {
    align-items: center;
    display: flex;
  }

  .cyan {
    margin-right: rem(30, 16);
  }

  .red {
    margin-top: 0;
  }

  .orange {
    margin-top: rem(30, 16);
  }

  .blue {
    margin-bottom: 0;
    margin-left: rem(30, 16);
    margin-top: 0;
  }
}
